div.product-thumbnail div.pr-img-area figure{
    width: 250px;
    max-width: 250px;
    height: 250px;
    max-height: 250px;
    overflow: hidden;
    margin: 3px;
    position: relative;
    margin:0 auto;
    background-size: cover;
    background-position: 50% 50%;
}
div.product-thumbnail div.pr-img-area figure img
{
        position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
    width: 100%;
}
div.special-product a.product-image figure{
  
    max-width: 100px;
    height: 80px;
    max-height: 100px;
    overflow: hidden;
    margin: 3px;
    position: relative;
    margin:0 auto;
    background-size: cover;
    background-position: 50% 50%;
}

/*
Shop page
*/
div.card-border{
    padding:10px;
    border:1px solid #eee;
    position: relative;
}
div.card-border p.title{
    font-weight: bold;
}
div.card-border a{
 text-decoration: underline;
    color: blue;
}
div.card-border div.action{
    position: absolute;
    right: 10px;
    top:10px;
   
}
